:root {
  --primary: #609be1;
  --secundary: #609be1;

  --bt-1: #db5757;
  --bt-2: #2f69bf;

  --white: #fff;
  --black: #101010;
  --black-02: #10101a;
  --black-010: #2a2a30;

  --gray: #9b9ba0;
}
