:root {
  --primary: #609be1;
  --secundary: #609be1;

  --bt-1: #ec4545;
  --bt-1-01: #883636;
  --bt-2: #2570e0;
  --bt-2-01: #17386e;

  --white: #fff;
  --black: #101010;
  --black-02: #10101a;
  --black-010: #2a2a30;

  --gray: #9b9ba0;
}
